In [405]:
import pandas as pd
import numpy as np

In [406]:
path_pets = '../DataTables/PetMapped.xlsx'
path_users = '../DataTables/UserMapped.xlsx'
path_database = '../DataTables/Base - atualizada.xlsx'

In [407]:
pets = pd.read_excel(path_pets)
users = pd.read_excel(path_users)
pets.head()
users.head()
base = users.join(pets)

In [408]:
base.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.0,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000
mean,2.045455,0.890152,1.454545,0.738636,2.946970,0.782197,3.424242,0.564394,0.0,0.458333,2.443182,1.518939,5.666667,2.696970,0.333333,0.102273
std,2.202189,0.313295,1.364201,1.294865,1.207167,0.439176,1.709385,0.594350,0.0,0.329429,1.586118,0.663856,2.878177,1.617111,0.699448,0.081773
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,2.000000,0.500000,2.000000,0.000000,0.0,0.000000,2.500000,1.000000,4.000000,2.000000,0.000000,0.000000
50%,2.000000,1.000000,2.000000,0.000000,4.000000,1.000000,4.000000,0.500000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
75%,3.000000,1.000000,2.000000,0.000000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,7.000000,1.000000,4.000000,3.000000,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [409]:
pets.head()

,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
0,0.0,0,0.0,2.5,2,8,4,0.0,0.0
1,0.0,0,0.5,2.5,0,8,0,0.0,0.2
2,0.0,0,1.0,2.5,2,8,4,0.0,0.2
3,0.0,0,0.5,2.5,1,4,2,0.0,0.1
4,1.0,0,1.0,0.0,1,4,2,0.0,0.1

In [410]:
base_tiveram_pets = base.query('hadOtherPet > 0')
base_tiveram_pets.head(10)

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
0,0,1,0,0,4,0.5,6,0.0,0,0.0,2.5,2,8,4,0.0,0.0
1,0,1,0,0,4,0.0,4,0.0,0,0.5,2.5,0,8,0,0.0,0.2
2,1,1,2,3,4,0.5,0,0.0,0,1.0,2.5,2,8,4,0.0,0.2
3,0,1,2,0,4,0.5,6,0.0,0,0.5,2.5,1,4,2,0.0,0.1
4,3,1,0,0,4,0.5,2,1.0,0,1.0,0.0,1,4,2,0.0,0.1
6,1,1,2,0,4,1.0,2,0.0,0,0.5,0.0,2,4,2,0.0,0.1
7,0,1,2,0,2,0.5,4,0.0,0,1.0,5.0,2,8,4,0.0,0.1
8,0,1,0,0,2,1.0,2,0.0,0,0.0,0.0,1,0,0,0.0,0.0
10,1,1,0,0,2,0.5,2,0.0,0,0.5,2.5,2,4,4,0.0,0.1
11,0,1,2,3,2,1.0,4,0.0,0,0.5,2.5,2,8,4,0.0,0.2

In [411]:
base_nao_tiveram_pets = base.query('hadOtherPet == 0')
base_nao_tiveram_pets.head(10)

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
5,0,0,0,0,4,1.0,4,0.0,0,0.0,2.5,0,0,0,0.0,0.2
9,1,0,0,0,4,0.5,6,0.0,0,0.5,2.5,1,4,0,0.0,0.0
20,2,0,2,3,4,1.0,2,0.0,0,0.5,5.0,2,8,4,0.0,0.0
52,0,0,0,0,2,1.5,4,1.0,0,0.0,2.5,2,8,2,0.0,0.2
58,0,0,2,0,4,1.0,6,0.0,0,0.5,5.0,1,0,2,0.0,0.2
59,0,0,2,0,2,1.5,2,0.0,0,0.0,0.0,1,4,0,0.0,0.0
87,2,0,4,3,4,0.0,4,0.0,0,1.0,5.0,2,8,4,0.0,0.1
101,3,0,0,0,4,1.0,0,2.0,0,0.5,2.5,2,8,4,0.0,0.2
102,2,0,0,3,2,1.0,4,0.0,0,0.5,5.0,2,8,4,1.5,0.1
170,1,0,0,3,4,0.5,2,1.0,0,0.5,2.5,1,8,2,0.0,0.2

In [412]:
base_nao_tiveram_pets.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,29.000000,29.0,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.0,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,1.413793,0.0,1.241379,1.655172,3.103448,0.879310,3.241379,0.551724,0.0,0.431034,2.672414,1.379310,6.206897,2.344828,0.275862,0.096552
std,1.052794,0.0,1.550465,1.518361,1.144703,0.475379,1.550465,0.572351,0.0,0.346517,1.627201,0.775232,2.944478,1.778359,0.620861,0.086531
min,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.0,0.000000,0.000000,2.000000,1.000000,2.000000,0.000000,0.0,0.000000,2.500000,1.000000,4.000000,0.000000,0.000000,0.000000
50%,2.000000,0.0,0.000000,3.000000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,2.000000,0.000000,0.100000
75%,2.000000,0.0,2.000000,3.000000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,3.000000,0.0,4.000000,3.000000,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [413]:
base_tiveram_pets.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,235.000000,235.0,235.000000,235.000000,235.000000,235.000000,235.000000,235.000000,235.0,235.000000,235.000000,235.00000,235.00000,235.000000,235.000000,235.000000
mean,2.123404,1.0,1.480851,0.625532,2.927660,0.770213,3.446809,0.565957,0.0,0.461702,2.414894,1.53617,5.60000,2.740426,0.340426,0.102979
std,2.294010,0.0,1.340787,1.221332,1.215586,0.434080,1.729687,0.598173,0.0,0.327874,1.582217,0.64861,2.86923,1.594818,0.709418,0.081333
min,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000
25%,0.000000,1.0,0.000000,0.000000,2.000000,0.500000,2.000000,0.000000,0.0,0.000000,2.500000,1.00000,4.00000,2.000000,0.000000,0.000000
50%,2.000000,1.0,2.000000,0.000000,4.000000,1.000000,4.000000,0.000000,0.0,0.500000,2.500000,2.00000,8.00000,4.000000,0.000000,0.100000
75%,3.000000,1.0,2.000000,0.000000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.00000,8.00000,4.000000,0.000000,0.200000
max,7.000000,1.0,4.000000,3.000000,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.00000,8.00000,4.000000,2.000000,0.200000

In [414]:
base_apartamento = base.query('typeOfResidence == 0')
base_casa = base.query('typeOfResidence == 0.5')
base_sitio = base.query('typeOfResidence == 1')

In [415]:
base_apartamento.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,107.000000,107.000000,107.0,107.000000,107.000000,107.000000,107.000000,107.000000,107.0,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000,107.000000
mean,2.214953,0.850467,0.0,0.757009,3.046729,0.822430,3.700935,0.612150,0.0,0.425234,2.126168,1.532710,5.570093,2.785047,0.350467,0.099065
std,2.231964,0.358291,0.0,1.309192,1.176685,0.462011,1.524733,0.615478,0.0,0.313258,1.566292,0.677367,2.946415,1.596151,0.701128,0.080676
min,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.0,0.000000,2.000000,0.500000,2.000000,0.000000,0.0,0.000000,0.000000,1.000000,4.000000,2.000000,0.000000,0.000000
50%,2.000000,1.000000,0.0,0.000000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
75%,3.000000,1.000000,0.0,1.500000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,7.000000,1.000000,0.0,3.000000,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [416]:
base_casa.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [417]:
base_sitio.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

    '1- Qual é a sua Idade?': {
        '18-25 anos': 0,
        '26-35 anos': 1,
        '36-45 anos': 2,
        '46-55 anos': 3,
        '56-65 anos': 4,
        'mais que 65 anos': 5

In [418]:
base_young = base.query('age < 2')
base_mid = base.query('age >= 2').query('age <= 3')
base_old = base.query('age >= 4')

In [419]:
base_young.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.0,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000,126.000000
mean,0.301587,0.912698,1.380952,0.500000,3.047619,0.781746,3.365079,0.376984,0.0,0.420635,2.539683,1.468254,5.460317,2.476190,0.273810,0.097619
std,0.460779,0.283403,1.225445,1.122497,1.151397,0.453855,1.690459,0.542905,0.0,0.343003,1.672846,0.665571,2.932987,1.686247,0.659112,0.082427
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,2.000000,0.500000,2.000000,0.000000,0.0,0.000000,2.500000,1.000000,4.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,2.000000,0.000000,4.000000,1.000000,4.000000,0.000000,0.0,0.500000,2.500000,2.000000,8.000000,3.000000,0.000000,0.100000
75%,1.000000,1.000000,2.000000,0.000000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,1.000000,1.000000,4.000000,3.000000,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [420]:
base_mid.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.0,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000,105.000000
mean,2.580952,0.828571,1.619048,1.200000,2.895238,0.771429,3.371429,0.652381,0.0,0.480952,2.476190,1.552381,6.133333,2.933333,0.395238,0.102857
std,0.495770,0.378691,1.546590,1.476743,1.270401,0.449511,1.624672,0.580632,0.0,0.331980,1.530744,0.679097,2.832051,1.570563,0.739332,0.083732
min,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1.000000,0.000000,0.000000,2.000000,0.500000,2.000000,0.000000,0.0,0.500000,2.500000,1.000000,4.000000,2.000000,0.000000,0.000000
50%,3.000000,1.000000,2.000000,0.000000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
75%,3.000000,1.000000,2.000000,3.000000,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,3.000000,1.000000,4.000000,3.000000,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [421]:
base_old.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,33.0,33.0,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.0,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,7.0,1.0,1.212121,0.181818,2.727273,0.818182,3.818182,1.000000,0.0,0.530303,1.969697,1.606061,4.969697,2.787879,0.363636,0.118182
std,0.0,0.0,1.218544,0.726918,1.206045,0.349513,2.022600,0.544862,0.0,0.248099,1.363242,0.609272,2.651472,1.408847,0.721031,0.072692
min,7.0,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.0,1.0,0.000000,0.000000,2.000000,0.500000,2.000000,1.000000,0.0,0.500000,0.000000,1.000000,4.000000,2.000000,0.000000,0.100000
50%,7.0,1.0,2.000000,0.000000,2.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,4.000000,4.000000,0.000000,0.100000
75%,7.0,1.0,2.000000,0.000000,4.000000,1.000000,6.000000,1.500000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,7.0,1.0,4.000000,3.000000,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [422]:
base_child = base.query('hasChildren == 3')
base_no_child = base.query('hasChildren == 0')

In [423]:
base_child.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,65.000000,65.000000,65.000000,65.0,65.000000,65.000000,65.000000,65.000000,65.0,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000,65.000000
mean,1.769231,0.753846,1.476923,3.0,3.107692,0.838462,3.261538,0.538462,0.0,0.461538,2.538462,1.523077,6.953846,3.107692,0.376923,0.096923
std,1.389348,0.434122,1.426399,0.0,1.174243,0.424887,1.349501,0.574916,0.0,0.297223,1.562019,0.731174,2.034321,1.459057,0.734372,0.084722
min,0.000000,0.000000,0.000000,3.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,3.0,2.000000,0.500000,2.000000,0.000000,0.0,0.500000,2.500000,1.000000,8.000000,2.000000,0.000000,0.000000
50%,2.000000,1.000000,2.000000,3.0,4.000000,1.000000,4.000000,0.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
75%,2.000000,1.000000,2.000000,3.0,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,7.000000,1.000000,4.000000,3.0,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [424]:
base_no_child.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,199.000000,199.000000,199.000000,199.0,199.000000,199.000000,199.000000,199.000000,199.0,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000,199.000000
mean,2.135678,0.934673,1.447236,0.0,2.894472,0.763819,3.477387,0.572864,0.0,0.457286,2.412060,1.517588,5.246231,2.562814,0.319095,0.104020
std,2.405105,0.247725,1.346893,0.0,1.216021,0.443240,1.811367,0.601738,0.0,0.339986,1.596573,0.642314,2.990671,1.646798,0.688973,0.080928
min,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.0,2.000000,0.500000,2.000000,0.000000,0.0,0.000000,2.500000,1.000000,4.000000,2.000000,0.000000,0.000000
50%,1.000000,1.000000,2.000000,0.0,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,4.000000,4.000000,0.000000,0.100000
75%,3.000000,1.000000,2.000000,0.0,4.000000,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,7.000000,1.000000,4.000000,0.0,4.000000,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [425]:
base_rich = base.query('financialResources == 3')
base_medium = base.query('financialResources == 2')
base_poor = base.query('financialResources <= 1')

In [426]:
base_rich.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [427]:
base_medium.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,109.000000,109.000000,109.000000,109.000000,109.0,109.000000,109.000000,109.000000,109.0,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000,109.000000
mean,2.311927,0.899083,1.596330,0.633028,2.0,0.784404,3.266055,0.582569,0.0,0.467890,2.316514,1.550459,5.357798,2.697248,0.435780,0.110092
std,2.340059,0.302611,1.434491,1.229729,0.0,0.398881,1.507034,0.599049,0.0,0.313841,1.656442,0.659492,3.137358,1.618782,0.773104,0.082714
min,0.000000,0.000000,0.000000,0.000000,2.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,2.0,0.500000,2.000000,0.000000,0.0,0.500000,0.000000,1.000000,4.000000,2.000000,0.000000,0.000000
50%,2.000000,1.000000,2.000000,0.000000,2.0,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
75%,3.000000,1.000000,2.000000,0.000000,2.0,1.000000,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,7.000000,1.000000,4.000000,3.000000,2.0,1.500000,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [428]:
base_poor.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,15.000000,15.000000,15.000000,15.000000,15.0,15.0,15.000000,15.000000,15.0,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000,15.000000
mean,2.466667,0.933333,1.333333,0.600000,0.0,0.5,3.066667,0.766667,0.0,0.400000,2.833333,1.600000,6.400000,2.800000,0.100000,0.080000
std,2.166850,0.258199,0.975900,1.242118,0.0,0.5,2.120198,0.728665,0.0,0.338062,1.290994,0.507093,2.529822,1.820518,0.387298,0.086189
min,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,0.000000,0.0,0.0,2.000000,0.000000,0.0,0.000000,2.500000,1.000000,4.000000,1.000000,0.000000,0.000000
50%,2.000000,1.000000,2.000000,0.000000,0.0,0.5,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
75%,3.000000,1.000000,2.000000,0.000000,0.0,1.0,4.000000,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.150000
max,7.000000,1.000000,2.000000,3.000000,0.0,1.5,6.000000,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,1.500000,0.200000

In [429]:
base_very_active = base.query('lifestyle == 3')
base_active = base.query('lifestyle == 2')
base_inactive = base.query('lifestyle == 1')
base_fat = base.query('lifestyle == 0')

In [430]:
base_very_active.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [431]:
base_active.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [432]:
base_inactive.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,110.000000,110.000000,110.000000,110.000000,110.000000,110.0,110.000000,110.000000,110.0,110.000000,110.000000,110.00000,110.000000,110.000000,110.000000,110.000000
mean,2.090909,0.845455,1.254545,0.818182,3.000000,1.0,3.109091,0.527273,0.0,0.454545,2.500000,1.50000,5.672727,2.636364,0.263636,0.107273
std,2.348318,0.363125,1.207290,1.342200,1.141382,0.0,1.725925,0.601361,0.0,0.321589,1.624073,0.68737,3.083276,1.668528,0.627025,0.083181
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,2.000000,1.0,2.000000,0.000000,0.0,0.125000,2.500000,1.00000,4.000000,2.000000,0.000000,0.000000
50%,2.000000,1.000000,2.000000,0.000000,4.000000,1.0,4.000000,0.000000,0.0,0.500000,2.500000,2.00000,8.000000,4.000000,0.000000,0.100000
75%,3.000000,1.000000,2.000000,3.000000,4.000000,1.0,4.000000,1.000000,0.0,0.500000,2.500000,2.00000,8.000000,4.000000,0.000000,0.200000
max,7.000000,1.000000,4.000000,3.000000,4.000000,1.0,6.000000,2.000000,0.0,1.000000,5.000000,2.00000,8.000000,4.000000,2.000000,0.200000

In [433]:
base_fat.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,33.000000,33.000000,33.000000,33.000000,33.000000,33.0,33.000000,33.000000,33.0,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000,33.000000
mean,1.545455,0.848485,1.454545,0.545455,2.727273,0.0,3.757576,0.469697,0.0,0.484848,2.424242,1.606061,5.696970,3.272727,0.393939,0.087879
std,1.416221,0.364110,1.522558,1.175024,1.566699,0.0,1.639937,0.571995,0.0,0.384969,1.709903,0.555619,3.005046,1.398051,0.778195,0.078093
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,0.000000,0.000000,2.000000,0.0,4.000000,0.000000,0.0,0.000000,2.500000,1.000000,4.000000,4.000000,0.000000,0.000000
50%,1.000000,1.000000,2.000000,0.000000,4.000000,0.0,4.000000,0.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
75%,2.000000,1.000000,2.000000,0.000000,4.000000,0.0,4.000000,1.000000,0.0,1.000000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
max,7.000000,1.000000,4.000000,3.000000,4.000000,0.0,6.000000,1.500000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [434]:
base_freetime_less_2 = base.query('freeTime == 0')
base_freetime_less_4 = base.query('freeTime == 2')
base_freetime_less_8 = base.query('freeTime == 4')
base_freetime_more_8 = base.query('freeTime == 6')

In [435]:
base_freetime_less_2.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.0,21.000000,21.0,21.000000,21.000000,21.000000,21.000000,21.000000,21.0,21.000000
mean,2.047619,0.857143,1.619048,0.285714,2.571429,0.857143,0.0,0.714286,0.0,0.476190,2.142857,1.380952,5.904762,3.047619,0.0,0.109524
std,2.355338,0.358569,1.023533,0.902378,1.434274,0.451189,0.0,0.623928,0.0,0.370006,1.636634,0.669043,2.998412,1.627151,0.0,0.094365
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,0.000000,1.000000,2.000000,0.000000,2.000000,0.500000,0.0,0.000000,0.0,0.000000,0.000000,1.000000,4.000000,2.000000,0.0,0.000000
50%,1.000000,1.000000,2.000000,0.000000,2.000000,1.000000,0.0,1.000000,0.0,0.500000,2.500000,1.000000,8.000000,4.000000,0.0,0.100000
75%,3.000000,1.000000,2.000000,0.000000,4.000000,1.000000,0.0,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.0,0.200000
max,7.000000,1.000000,4.000000,3.000000,4.000000,1.500000,0.0,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,0.0,0.200000

In [436]:
base_freetime_less_4.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.0,82.000000,82.0,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000,82.000000
mean,1.987805,0.914634,1.585366,0.914634,3.048780,0.817073,2.0,0.628049,0.0,0.481707,2.103659,1.573171,5.902439,2.560976,0.298780,0.112195
std,2.093458,0.281145,1.206477,1.389566,1.185326,0.364405,0.0,0.586952,0.0,0.308772,1.641923,0.629138,2.755958,1.579948,0.670635,0.080722
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,2.000000,0.500000,2.0,0.000000,0.0,0.500000,0.000000,1.000000,4.000000,2.000000,0.000000,0.000000
50%,2.000000,1.000000,2.000000,0.000000,4.000000,1.000000,2.0,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,2.000000,0.000000,0.100000
75%,3.000000,1.000000,2.000000,3.000000,4.000000,1.000000,2.0,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,7.000000,1.000000,4.000000,3.000000,4.000000,1.500000,2.0,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [437]:
base_freetime_less_8.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.0,113.000000,113.0,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000,113.000000
mean,1.805310,0.849558,1.398230,0.876106,2.761062,0.769912,4.0,0.530973,0.0,0.442478,2.743363,1.504425,5.628319,2.690265,0.402655,0.099115
std,1.963317,0.359097,1.601003,1.370172,1.143884,0.486585,0.0,0.583567,0.0,0.325633,1.529640,0.683007,3.053671,1.664115,0.749578,0.082911
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,2.000000,0.500000,4.0,0.000000,0.0,0.000000,2.500000,1.000000,4.000000,2.000000,0.000000,0.000000
50%,1.000000,1.000000,0.000000,0.000000,2.000000,1.000000,4.0,0.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
75%,3.000000,1.000000,2.000000,3.000000,4.000000,1.000000,4.0,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.200000
max,7.000000,1.000000,4.000000,3.000000,4.000000,1.500000,4.0,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [438]:
base_freetime_more_8.describe()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
count,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.0,48.000000,48.0,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,2.708333,0.958333,1.291667,0.312500,3.375000,0.718750,6.0,0.468750,0.0,0.447917,2.447917,1.520833,5.250000,2.791667,0.375000,0.089583
std,2.728559,0.201941,1.129080,0.926128,1.178261,0.436454,0.0,0.613728,0.0,0.360844,1.502620,0.683843,2.629619,1.583940,0.747336,0.075059
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,0.000000,3.500000,0.500000,6.0,0.000000,0.0,0.000000,2.500000,1.000000,4.000000,2.000000,0.000000,0.000000
50%,2.000000,1.000000,2.000000,0.000000,4.000000,0.500000,6.0,0.000000,0.0,0.500000,2.500000,2.000000,4.000000,4.000000,0.000000,0.100000
75%,4.000000,1.000000,2.000000,0.000000,4.000000,1.000000,6.0,1.000000,0.0,0.500000,2.500000,2.000000,8.000000,4.000000,0.000000,0.100000
max,7.000000,1.000000,4.000000,3.000000,4.000000,1.500000,6.0,2.000000,0.0,1.000000,5.000000,2.000000,8.000000,4.000000,2.000000,0.200000

In [439]:
lista = [n for n in range(1, len(base) + 1)]
print(lista)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264]

In [440]:
base['idUser'] = lista

In [441]:
base.head()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics,idUser
0,0,1,0,0,4,0.5,6,0.0,0,0.0,2.5,2,8,4,0.0,0.0,1
1,0,1,0,0,4,0.0,4,0.0,0,0.5,2.5,0,8,0,0.0,0.2,2
2,1,1,2,3,4,0.5,0,0.0,0,1.0,2.5,2,8,4,0.0,0.2,3
3,0,1,2,0,4,0.5,6,0.0,0,0.5,2.5,1,4,2,0.0,0.1,4
4,3,1,0,0,4,0.5,2,1.0,0,1.0,0.0,1,4,2,0.0,0.1,5

In [442]:
base = base.set_index('idUser')

In [443]:
pets = base[['age', 'hadOtherPet', 'typeOfResidence', 'hasChildren', 'financialResources', 'lifestyle', 'freeTime']]
users = base[['adoptionAge', 'energyLevel', 'dogSize', 'physicalNeeds', 'temperament', 'behaviorWithKids', 'behaviorWithAnimals', 
              'specialCareNeeds', 'coatCharacteristics']]

In [444]:
pets.head()

,age,hadOtherPet,typeOfResidence,hasChildren,financialResources,lifestyle,freeTime
idUser,,,,,,,
1,0,1,0,0,4,0.5,6
2,0,1,0,0,4,0.0,4
3,1,1,2,3,4,0.5,0
4,0,1,2,0,4,0.5,6
5,3,1,0,0,4,0.5,2

In [445]:
users.head()

,adoptionAge,energyLevel,dogSize,physicalNeeds,temperament,behaviorWithKids,behaviorWithAnimals,specialCareNeeds,coatCharacteristics
idUser,,,,,,,,,
1,0.0,0,0.0,2.5,2,8,4,0.0,0.0
2,0.0,0,0.5,2.5,0,8,0,0.0,0.2
3,0.0,0,1.0,2.5,2,8,4,0.0,0.2
4,0.0,0,0.5,2.5,1,4,2,0.0,0.1
5,1.0,0,1.0,0.0,1,4,2,0.0,0.1

In [446]:
pets = pd.read_excel(path_pets)
users = pd.read_excel(path_users)
database = users.join(pets)

lista = [n for n in range(1, len(database) + 1)]
database['idUser'] = lista
database = database.set_index('idUser')

In [447]:
def distancia_entre_vetores(a, b):
    return np.linalg.norm(a - b)

In [448]:
def retorna_vetor_usuario(user_id):
    data = database
    vetor = []
    user = data.query('idUser == %d' % user_id)
    for value in user.columns[:7]: ## percorre as 7 primeiras colunas
        vetor.append(user[value].values[0])
    return np.array(vetor)

In [449]:
def retorna_vetor_pet(user_id):
    data = database
    vetor = []
    user = data.query('idUser == %d' % user_id)
    for value in user.columns[7:]: ## percorre as 7 primeiras colunas
        vetor.append(user[value].values[0])
    return np.array(vetor)

In [450]:
def distancia_entre_usuarios(user_id1, user_id2):
    distancia = distancia_entre_vetores(user_id1, user_id2)
    return [user_id1, user_id2, distancia]

In [451]:
def distancia_entre_pets(user_id1, user_id2):
    distancia = distancia_entre_vetores(retorna_vetor_pet(user_id1), retorna_vetor_pet(user_id2))
    return [user_id1, user_id2, distancia]

In [452]:
def distancia_de_todos_user(user_id, numero_de_usuarios_a_analisar = None):
    data = database
    todos_os_usuarios = data.index.unique()
    if numero_de_usuarios_a_analisar:
        todos_os_usuarios = todos_os_usuarios[:numero_de_usuarios_a_analisar]
    distancias = []
    for usuario in todos_os_usuarios:
        distancias.append([user_id, usuario, 
                           distancia_entre_usuarios(user_id, retorna_vetor_usuario(usuario))[2]])
    distancias = pd.DataFrame(distancias, columns = ['voce', 'outra_pessoa', 'distancia'])
    return(distancias)

In [453]:
def distancia_de_todos_pet(user_id, numero_de_usuarios_a_analisar = None):
    data = database
    todos_os_usuarios = data.index.unique()
    if numero_de_usuarios_a_analisar:
        data = data[:numero_de_usuarios_a_analisar]
    distancias = []
    for usuario in todos_os_usuarios:
        distancias.append([user_id, usuario, 
                           distancia_entre_pets(user_id, usuario)[2]])
    distancias = pd.DataFrame(distancias, columns = ['seu pet', 'outro_pet', 'distancia'])
    return(distancias)

In [454]:
def knn_user(user_id, k_mais_proximos=10, numero_de_usuarios_a_analisar = None):
    distancias = distancia_de_todos_user(user_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
    distancias = distancias.sort_values("distancia")
    distancias = distancias.set_index("outra_pessoa")
    return distancias.head(k_mais_proximos)

In [455]:
def knn_pet(user_id, k_mais_proximos=2, numero_de_usuarios_a_analisar = None):
    distancias = distancia_de_todos_pet(user_id, numero_de_usuarios_a_analisar = numero_de_usuarios_a_analisar)
    distancias = distancias.sort_values("distancia")
    distancias = distancias.set_index("outro_pet")
    distancias = distancias.drop(user_id)
    return distancias.head(k_mais_proximos)

In [456]:
def load_data():
    data = pd.read_excel(path_database)
    data = data.drop('1 - De 0 a 10, o que você acha da ideia de utilizar inteligência artificial para recomendar pets? ', axis=1, errors='ignore')
    data = data.drop('2 - De 0 a 10, quão confiante você está de que uma IA pode fazer boas recomendações de pets com base nas suas características? ', axis=1, errors='ignore')
    data = data.drop('3 - De 0 a 10, quanto você acha que a utilização dessa ferramenta pode auxiliar as ONGs com a Adoção Responsável?', axis=1, errors='ignore')
    return data

In [457]:
def caracteristicas_usuario(user_id):
    data = load_data()
    usuario = [data.values[user_id - 1][:7]]
    usuario = pd.DataFrame(usuario, columns=['Idade', 'Teve outro pet', 'Moradia', 'Crianças até 12 anos',
                                     'Recursos financeiros', 'Estilo de vida', 'Tempo em casa'])
    return usuario

In [458]:
def caracteristicas_pets(user_id):
    data = load_data()
    pet = [data.values[user - 1][7:16] for user in user_id]
    pet = pd.DataFrame(pet, columns=['Idade', 'Nivel energia', 'Tamanho', 'Necessidade de estimulo',
                                     'Temperamento', 'Comportamento com crianca', 'Comportamento com animais',
                                     'Necessidades especiais', 'Solta muito pelo'])
    pet['idUser'] = user_id
    pet = pet.set_index('idUser')
    return pet

In [459]:
def return_validation_array(users):
    D = [0 for n in users[0]]
    for user in users:
        for n in range(len(user)):
            D[n] += user[n]/len(users)
    
    return D

In [460]:
def return_recommended_pets(user_id, k_users = 10, k_pets = 2):
    users_list = knn_user(user_id, k_mais_proximos=k_users).index
    recommended_pets = []
    for user in users_list:
        knn_pets = knn_pet(user, k_mais_proximos=k_pets).index.values
        for pet in knn_pets:
            recommended_pets.append(pet)
    try:
        recommended_pets.remove(user_id)
        return recommended_pets
    except:
        return recommended_pets

In [461]:
def return_recommended_pets_table(recommended_pets):
    recommended_pets_arrays = [retorna_vetor_pet(pet) for pet in recommended_pets]
    validation_array = return_validation_array(recommended_pets_arrays)

    distances = [[]]
    for pet in recommended_pets:
        distances.append([pet, distancia_entre_vetores(validation_array, retorna_vetor_pet(pet))])

    recommended_pets_distances = pd.DataFrame(distances, columns=['pet_recomendado', 'distancia_pet_recomendado'])
    recommended_pets_distances = recommended_pets_distances.set_index('pet_recomendado')
    recommended_pets_table = recommended_pets_distances.join(caracteristicas_pets(recommended_pets)).dropna()
    recommended_pets_table = recommended_pets_table.sort_values('distancia_pet_recomendado')
    return recommended_pets_table

O usuário virá como um vetor de 7 valores

In [462]:
user_id = 45
user = retorna_vetor_usuario(user_id)
caracteristicas_usuario(user_id)

,Idade,Teve outro pet,Moradia,Crianças até 12 anos,Recursos financeiros,Estilo de vida,Tempo em casa
0,18-25 anos,Sim,Apartamento,Sim,Posso arcar com os custos essenciais,"Moderadamente ativo(a), às vezes pratico ativi...",4-8 horas

In [463]:
recommended_pets = return_recommended_pets(user, 10, 2)
print(recommended_pets)

[np.int64(95), np.int64(13), np.int64(167), np.int64(103), np.int64(40), np.int64(150), np.int64(90), np.int64(119), np.int64(262), np.int64(49), np.int64(263), np.int64(50), np.int64(264), np.int64(46), np.int64(89), np.int64(59), np.int64(38), np.int64(167), np.int64(144), np.int64(232)]

In [464]:
recommended_pets_arrays = [retorna_vetor_pet(pet) for pet in recommended_pets]
validation_array = return_validation_array(recommended_pets_arrays)
validation_array

[np.float64(0.49999999999999994),
 np.float64(0.0),
 np.float64(0.37500000000000006),
 np.float64(3.0),
 np.float64(1.3),
 np.float64(6.000000000000001),
 np.float64(2.9000000000000004),
 np.float64(0.725),
 np.float64(0.07)]

In [473]:
table = return_recommended_pets_table(recommended_pets)
table = table.drop("Nivel energia", axis=1)
table

,distancia_pet_recomendado,Idade,Tamanho,Necessidade de estimulo,Temperamento,Comportamento com crianca,Comportamento com animais,Necessidades especiais,Solta muito pelo
pet_recomendado,,,,,,,,,
18.0,2.619404,Jovem (1 - 3 anos),Médio,Moderada,Muito amigável com todos,Adora crianças,Prefere apenas a companhia de outros pets da m...,"Não, sem necessidades especiais",Solta pelo em uma determinada época do ano
175.0,2.662006,Jovem (1 - 3 anos),Pequeno,Moderada,Muito amigável com todos,Adora crianças,Prefere apenas a companhia de outros pets da m...,"Não, sem necessidades especiais",Solta pelo em uma determinada época do ano
177.0,2.867451,Jovem (1 - 3 anos),Médio,Baixa,Muito amigável com todos,Tolerante com crianças,Amigável com todos os tipos de animais,"Não, sem necessidades especiais",Solta muito pelo
127.0,2.936371,Jovem (1 - 3 anos),Médio,Baixa,"Tímido, mas amigável",Tolerante com crianças,Amigável com todos os tipos de animais,"Não, sem necessidades especiais",Solta muito pelo
258.0,3.001879,Jovem (1 - 3 anos),Médio,Moderada,Muito amigável com todos,Adora crianças,Amigável com todos os tipos de animais,"Sim, necessidades dietéticas especiais",Solta pelo em uma determinada época do ano
49.0,3.001879,Jovem (1 - 3 anos),Médio,Moderada,Muito amigável com todos,Adora crianças,Amigável com todos os tipos de animais,"Sim, necessidades dietéticas especiais",Solta pelo em uma determinada época do ano
179.0,3.153930,Filhote (até 1 ano),Grande,Moderada,Muito amigável com todos,Adora crianças,Amigável com todos os tipos de animais,"Sim, necessidades dietéticas especiais",Solta muito pelo
228.0,3.153930,Filhote (até 1 ano),Grande,Moderada,Muito amigável com todos,Adora crianças,Amigável com todos os tipos de animais,"Sim, necessidades dietéticas especiais",Solta muito pelo
46.0,3.293217,Jovem (1 - 3 anos),Pequeno,Baixa,Muito amigável com todos,Adora crianças,Prefere apenas a companhia de outros pets da m...,"Não, sem necessidades especiais",Solta pouco pelo
257.0,3.293217,Jovem (1 - 3 anos),Pequeno,Baixa,Muito amigável com todos,Adora crianças,Prefere apenas a companhia de outros pets da m...,"Não, sem necessidades especiais",Solta pouco pelo
125.0,3.615560,Filhote (até 1 ano),Médio,Alta,Muito amigável com todos,Tolerante com crianças,Prefere apenas a companhia de outros pets da m...,"Não, sem necessidades especiais",Solta muito pelo
83.0,3.707732,Filhote (até 1 ano),Grande,Alta,"Tímido, mas amigável",Tolerante com crianças,Prefere apenas a companhia de outros pets da m...,"Não, sem necessidades especiais",Solta muito pelo
50.0,4.107344,Jovem (1 - 3 anos),Médio,Moderada,Não amigável,Adora crianças,Prefere ser o único animal da casa,"Não, sem necessidades especiais",Solta pouco pelo
253.0,4.107344,Jovem (1 - 3 anos),Médio,Moderada,Não amigável,Adora crianças,Prefere ser o único animal da casa,"Não, sem necessidades especiais",Solta pouco pelo
182.0,4.131619,Filhote (até 1 ano),Médio,Alta,Muito amigável com todos,Adora crianças,Amigável com todos os tipos de animais,"Não, sem necessidades especiais",Solta pouco pelo
21.0,4.131619,Filhote (até 1 ano),Médio,Alta,Muito amigável com todos,Adora crianças,Amigável com todos os tipos de animais,"Não, sem necessidades especiais",Solta pouco pelo
229.0,6.118519,Adulto (4 - 7 anos),Médio,Baixa,Muito amigável com todos,Prefere ambientes sem crianças,Amigável com todos os tipos de animais,"Não, sem necessidades especiais",Solta pelo em uma determinada época do ano
222.0,6.118519,Adulto (4 - 7 anos),Médio,Baixa,Muito amigável com todos,Prefere ambientes sem crianças,Amigável com todos os tipos de animais,"Não, sem necessidades especiais",Solta pelo em uma determinada época do ano
100.0,6.118519,Adulto (4 - 7 anos),Médio,Baixa,Muito amigável com todos,Prefere ambientes sem crianças,Amigável com todos os tipos de animais,"Não, sem necessidades especiais",Solta pelo em uma determinada época do ano
192.0,6.707852,Idoso (8 anos ou mais),Pequeno,Baixa,Muito amigável com todos,Prefere ambientes sem crianças,Prefere ser o único animal da casa,"Não, sem necessidades especiais",Solta pouco pelo

## Para a call com stakeholders

# Setando as variáveis

In [466]:
# O Id é a Linha em que o Pet se encontra menos o valor 1
# ids_pets = [1, 7, 8, 37, 187] # user_ids = 2, 102, 103, 151, 141
# ids_pets = [100, 28, 179, 144, 180] # user_ids = 101, 102, 103, 159, 124
# ids_pets = [84, 85, 86, 87, 88] # user_ids = 84, 85, 86, 87, 88
ids_pets = [49, 50, 52, 132, 46] # user_ids = 5, 21, 51, 52, 53
user_id = 53
k_users = [10]
k_pets_por_user = [2]

pets_validacao = pets.copy()
ids = [n for n in range(1, len(pets_validacao) + 1)]
pets_validacao["Id"] = ids
pets_validacao = pets_validacao.set_index("Id")

pets_validacao = pets_validacao.loc[ids_pets]

# Visualizando os Pets e Usuários

In [467]:
caracteristicas_usuario(user_id)

,Idade,Teve outro pet,Moradia,Crianças até 12 anos,Recursos financeiros,Estilo de vida,Tempo em casa
0,18-25 anos,Não,Apartamento,Não,Posso arcar com os custos essenciais,"Muito ativo(a), gosto de atividades ao ar livre",4-8 horas

In [468]:
caracteristicas_pets(ids_pets)

,Idade,Nivel energia,Tamanho,Necessidade de estimulo,Temperamento,Comportamento com crianca,Comportamento com animais,Necessidades especiais,Solta muito pelo
idUser,,,,,,,,,
49,Jovem (1 - 3 anos),Médio,Médio,Moderada,Muito amigável com todos,Adora crianças,Amigável com todos os tipos de animais,"Sim, necessidades dietéticas especiais",Solta pelo em uma determinada época do ano
50,Jovem (1 - 3 anos),Alto,Médio,Moderada,Não amigável,Adora crianças,Prefere ser o único animal da casa,"Não, sem necessidades especiais",Solta pouco pelo
52,Filhote (até 1 ano),Alto,Médio,Alta,Muito amigável com todos,Adora crianças,Amigável com todos os tipos de animais,"Não, sem necessidades especiais",Solta muito pelo
132,Filhote (até 1 ano),Médio,Grande,Baixa,Muito amigável com todos,Adora crianças,Prefere ser o único animal da casa,"Não, sem necessidades especiais",Solta pelo em uma determinada época do ano
46,Jovem (1 - 3 anos),Médio,Pequeno,Baixa,Muito amigável com todos,Adora crianças,Prefere apenas a companhia de outros pets da m...,"Não, sem necessidades especiais",Solta pouco pelo

# Rodando o algoritmo

In [469]:
user = retorna_vetor_usuario(user_id)
resultado_posicoes = []

for n in k_users:
    for k in k_pets_por_user:
        recommended_pets = return_recommended_pets(user, n, k)
        recommended_pets_arrays = [retorna_vetor_pet(pet) for pet in recommended_pets]
        validation_array = return_validation_array(recommended_pets_arrays)
        resultado_posicoes.append([n, k, validation_array])

In [470]:
pets_validacao = pets_validacao.loc[ids_pets]

resultados_validacao = []
posicoes = []

for r in resultado_posicoes:
    resultados_validacao = []
    for id in pets_validacao.index.unique():
        resultados_validacao.append([id, distancia_entre_vetores(retorna_vetor_pet(id), r[2])])
    all_pets = pd.DataFrame(resultados_validacao, columns=["id", "distancia"]).sort_values("distancia").set_index("id")
    posicoes.append([r[0], r[1], 
                     all_pets.index.unique()[0], 
                     all_pets.index.unique()[1], 
                     all_pets.index.unique()[2], 
                     all_pets.index.unique()[3], 
                     all_pets.index.unique()[4],
                     all_pets.values.round(3)])    


all_pets = pd.DataFrame(posicoes, columns=["k_users", "k_pets_por_user", "Primeiro", "Segundo", "Terceiro", "Quarto", "Quinto", "Distancias"])
all_pets

,k_users,k_pets_por_user,Primeiro,Segundo,Terceiro,Quarto,Quinto,Distancias
0,10,2,49,46,50,52,132,"[[3.002], [3.293], [4.107], [4.132], [4.329]]"

In [471]:
validation_array = [validation_array]
validation_array = pd.DataFrame(validation_array, columns=["Idade", "Nivel de Energia", "Porte", "Estimulos", "Temperamento", 
                                         "Comportamento Criança", "Socializacao Animais", "Necessidade Especial", "Pelo"])
validation_array

,Idade,Nivel de Energia,Porte,Estimulos,Temperamento,Comportamento Criança,Socializacao Animais,Necessidade Especial,Pelo
0,0.825,0.0,0.475,2.0,1.7,5.6,2.8,0.3,0.095